<div class="row">
  <div class="col m12">
    <h4>Anotar comanda</h4>
  </div>

  <div class="col m12">
    <div class="card">
      <div class="card-content">

        <div class="row">
          <form id="formulario" #form="ngForm" (submit)="form_submit(form)" class="col s12">
            <div class="row">

              <div class="input-field col s12">
                <label for="name">Nome</label>
                <input id="name" ngModel name="name" type="text" class="validate">
              </div>
              <div class="input-field col s12">
                <label for="mesa">Mesa</label>
                <input id="mesa" ngModel name="mesa" type="text" class="validate">
              </div>
              <div class="input-field col s12">
                <textarea id="consumidos" name="consumidos" ngModel class="materialize-textarea"></textarea>
                <label for="consumidos">Consumidos</label>
              </div>

              <div class="input-field col s12">
                <button type="submit" class="right waves-effect waves-light btn red darken-1">Salvar</button>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
