<div class="row" >
  <div class="col s12">
    <h5>Comandas abertas</h5>
  </div>

  <div class="col s12 m3" *ngFor="let comanda of comandas">
    <div class="card">
        <button (click)="deleteComanda(comanda._id)" style="margin: 5px" class="right btn-floating waves-effect waves-light btn red darken-2">
          <i class="material-icons">delete</i>
        </button>
      <div class="card-content center-align">
        <span class="card-title truncate">{{ comanda.name }}</span>
        <span class="card-subtitle truncate" *ngIf="comanda.mesa"><b>{{ comanda.mesa }}</b></span><br>
        <span class="card-subtitle truncate" *ngIf="!comanda.mesa"><b>QG</b></span><br>
        <span class="card-subtitle truncate">{{ comanda.consumidos }}</span><br>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn red darken-2" [routerLink]="['/editar', comanda._id]"><i class="material-icons">edit</i></a>
        <a class="waves-effect waves-light btn red darken-2 right" [routerLink]="['/registrar', comanda._id]"><i class="material-icons">check</i></a>
      </div>
    </div>
  </div>
</div>


