#map{
  height: 620px;
}
agm-map {
  height: 620px;
}

#mapAddDestino {
  height: 620px;
}

.side-nav
{
  width: 285px;
}

header,
main,
footer {
  padding-left: 285px;
}

.side-nav-mini
{
  width: 100px;
}

.main-mini
{
  padding-left: 100px;
}

.header-mini
{
  width: 1545px;
  position: relative;
  right: 180px;
}

.side-nav li > a:hover
{
  background-color: #9a191e;
  border-left: 5px solid #9a191e;
}

.menuActive
{
  background-color: #9a191e !important;
  border-left: 5px solid #9a191e;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.img-logo-mini
{
  padding-top: 10px;
}

#brand
{
  position: relative;
  bottom: 10px;
  font-size: 1.64rem;
}

.material-icons.greenCK
{
  color: #9a191e
}

.costumer
{
  top: 5px;
  position: relative;
}
