<body>

    <ul id="slide-out" class="side-nav fixed z-depth-2 grey darken-3">
      <!-- toolbar menu -->
      <li class="center no-padding">
        <div class="grey darken-4">
          <div class="row">
            <span class="white-text"><img id="img-logo" style="margin-top: 5%;" src="assets/img/ic_trackage.png" class="responsive-img" /><span id="brand">trackage</span></span>
          </div>
        </div>
      </li>

      <!-- itens menu -->
      <li>
        <a class="waves-effect white-text menuActive" routerLink="/visaogeral">
          <i class="material-icons greenCK">home</i>
          <b>Visão geral</b>
        </a>
      </li>

      <li>
        <a class="waves-effect white-text" routerLink="/dispositivos">
          <i class="material-icons greenCK">smartphone</i>
          <b>Dispositivos</b>
        </a>
      </li>

      <li>
        <a class="waves-effect white-text" routerLink="/veiculosemtransito">
          <i class="material-icons greenCK">directions_car</i>
          <b>Veículos em trânsito</b>
        </a>
      </li>

      <li>
        <a class="waves-effect white-text" routerLink="/historicodeveiculos">
          <i class="material-icons greenCK">query_builder</i>
          <b>Histórico de veículos</b>
        </a>
      </li>

      <li>
        <a class="waves-effect white-text " routerLink="/configuracoes">
          <i class="material-icons greenCK">settings</i>
          <b>Configurações</b>
        </a>
      </li>

    </ul>

    <header id="header">

    <nav class="white darken-3" role="navigation">
      <div class="nav-wrapper">
        <ul class="left black-text">
          <li>
            <a class="btn-floating waves-effect waves-light green"  id="toogleNav"><i class="material-icons">menu</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main id="main">
    <!-- conteúdo -->
    <!-- <div id="mapAddDestino"></div> -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
      <agm-marker [latitude]='lat' [longitude]='lng' [title]='title'></agm-marker>
    </agm-map>

  </main>
</body>
